/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {
	background-image: url("images/bgtheatre.jpeg");
	background-size: 100%;
	margin-left:auto;
    margin-right:auto;
    width:1200px;
    height: 700px;
}


#wrapper {
	background: radial-gradient(#ffea99, #FFCC00);
	width: 990px;
	min-height: 550px;
	margin: 100px auto 100px auto;
	padding: 10px;
	border-radius: 25px;

}

#home {
	height: 25px;
	font-family: Roboto;
	font-size: 20px;
	color: #003366;
	}

a:link, a:visited, a:active {
	font-family: Roboto;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: #003366;
	text-decoration: underline;
}

h1 {
	font-family: "Great Vibes";
	padding: 15px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-top: 20px;
	color: #003366;
}

header a{
	color: #003366;
	font-family: Roboto;
	margin-top: 10px;
	margin-left: 5px;
}


h2 {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
}

h2 div {
	border-bottom: 1px solid #3d3d3d;
	margin: 10px 200px 10px 200px;
	color: #3d3d3d;
}

h2 div p {
	margin: 5px 30px 10px 30px;
	display: inline-block;	
}

#mainpage{
	text-align: center;
	margin: 100px auto auto auto;
}

#mainpage div {
	display: inline-block;
	text-align: center;
	background-color:rgba(255,255,255,0.5);
	border-radius: 50%;
	height: 180px;
	width: 180px;
	margin: auto 30px auto 30px;
	border: 1px solid #7a7a7a;
}

#mainpage div p {
	margin-top: 75px;
	font-size: 20px;
}

#mainpage div a {
	color: black;
	font-family: Roboto;
}

#mainpage div:hover {
	background-color: #fff4cc;
}

#helping {
	font-family: Roboto;
	text-align: center;
	margin-top: 8%;
}

#thanks {
	text-align: center;
	font-family: Roboto;
	font-size: 22px;
	padding-top: 30px;
	color: #7a7a7a;
}

#helping {
	margin: 50px;
}

#helping div {
	display: block;
	border-radius: 20px;
	width: 180px;
	padding: 10px;
	margin: 5px 10px 0 10px;
	background-color:rgba(255,255,255,0.5);
	float: left;
	min-height: 150px;
}

#auditions div {
	display: inline-block;
	width: 463px;
	height: 360px;
	margin-top: 8px;
	padding: 7px;
	text-align: center;
	font-family: Roboto;
	background-color:rgba(255,255,255,0.5);
	border-radius: 10px;
	border: 1px solid #7a7a7a;
}

#auditions div p {
	margin-top: 10px;
}

#character {
	margin-left: 5px;
}


#info {
	float: right;
	margin-right: 5px;
}

#info p a {
	color: black;
}

#audience div {
	text-align: center;
	color: #3d3d3d;
	font-family: Roboto;
	font-size: 19px;
	margin: 90px 80px auto 80px;
}

#twitter{
	background-color: #cccccc;
	width: 50px;
	height: 50px;
	margin: 30px auto 30px auto;
	border-radius: 3px;
}

footer {
	position: fixed;
	clear: all;
	width: 100%;
	bottom: 0;
	left: 0;
	background: radial-gradient(#303030, #1a1a1a);

}

footer div {
	margin: 20px 40px 20px 40px;
	color: white;
	display: inline-block;
}

#footright {
	float: right;
}
#footleft {
	float: left;
}

footer div a {
	color: white;
	font-family: Roboto;
	font-size: 18px;
}